.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  background: rgb(252, 252, 252);
  padding: 1rem;
  border: 1px solid #ccc;
  margin: 1rem 0;
}

.card.tilt {
  transform: rotate(3deg);
  background-color: lightgreen;
}
